body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

.container{
    max-width: 1440px;
    max-height: 926px;
    margin: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.container-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 56px 50px 56px;
    /* background-color: aqua; */
}

.title{
    width: 800px;
    height: 176px;
    font-size: 72px;
    margin-left: 56px;
    color: #252525;
    /* background-color: yellowgreen; */
}
.text{
    font-size: 24px;
    color: rgb(37, 37, 37, 0.8);

}
.number{
    font-size: 40px;
    color: rgb(37, 37, 37, 0.3);
}